<html>
<body class="page_one">
<div class="grid-container">
<div class="Copy">
  <div class="teaser">

  <p>Ethan opened his eyes to a brand new day,</p>
  <p>The wind blowing him this way, blowing him that way.</p>
  <p>Floating in a cloud with his brothers and sisters,</p>
  <p>Over the mountains and over the rivers,</p>
  <p>Drifting out over the sea,</p>
  <p>Ethan thought, "This is where I should be."</p>
  </div>
</div>
<br>
<br>
<div class="Buttons">
  <div class="btn-group" role="group">
    <button class="button" name="button">
    <%= link_to "Home", "/" %>
    </button>
    <button class="button" id="next_button">
    <%= link_to "Next page", "/next_page" %>
    </button>
    <button class="button" name="button">
    <a href="https://www.amazon.com/Ethan-Raindrop-Sean-Patrick-Guidera/dp/1514112965">Buy the book on Amazon!</a>
    </button>
    <button class="button" name="button">
    <a href="http://www.spgwrites.com/">See more from the Author!</a>
    </button>
  </div>
</div>
</div>
</body>
</html>
