<h3>Ethan opened his eyes to a brand new day,</h3>
<h3>The wind blowing him this way, blowing him that way.</h3>
<h3>Floating in a cloud with his brothers and sisters,</h3>
<h3>Over the mountains and over the rivers,</h3>
<h3>Drifting out over the sea,</h3>
<h3>Ethan thought, "This is where I should be."</h3>

<%= link_to "Next page", "/next_page" %>
