.welcome {
  background: url("/images/CoverCanvas.jpg") no-repeat center center;
  background-size: cover;
}

.page_one {
  background: url("/images/OceanCanvas.jpg") no-repeat center center;
  background-size: cover;
}
.page_two {
  background: url("/images/MountainRiver.jpg") no-repeat center center;
  background-size: cover;
}
.teaser_page_one {
  box-sizing: content-box;
  width: 45%;
  padding: 30px;
  background-color: lemonchiffon;
  border-radius: 20px;
  border: 2px solid #008CBA;
  height: 300px;
}
.teaser_welcome {
  box-sizing: content-box;
  width: 60%;
  padding: 30px;
  background-color: lemonchiffon;
  border-radius: 20px;
  border: 2px solid #008CBA;
  height: 600px;
}
.teaser_page_two {
  box-sizing: content-box;
  width: 45%;
  padding: 30px;
  background-color: lemonchiffon;
  border-radius: 20px;
  border: 2px solid #008CBA;
}
.button {
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: lemonchiffon;
  color: black;
  border: 2px solid #008CBA;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 20px;
}
