
.welcome {
  background: url("/images/CoverCanvas.jpg");
  height: auto;
  width: 20%;
}
.author {
  background: url("/images/AlpineLake.jpg");
  height: auto;
  width: 20%;
}
.page_one {
  background: url("/images/Sunset.jpg");
  height: auto;
  width: 20%;
}
.page_two {
  background: url("/images/MountainRiver.jpg");
  height: auto;
  width: 20%;
}

.teaser_welcome, .teaser_author {
  box-sizing: content-box;
  width: 600px;
  padding: 30px;
  background-color: lemonchiffon;
  border-radius: 20px;
  border: 2px solid #008CBA;
}
.teaser_page_one {
  box-sizing: content-box;
  width: 600px;
  padding: 30px;
  background-color: lemonchiffon;
  border-radius: 20px;
  border: 2px solid #008CBA;
}
.teaser_page_two {
  box-sizing: content-box;
  width: 600px;
  padding: 30px;
  background-color: lemonchiffon;
  border-radius: 20px;
  border: 2px solid #008CBA;
}
.button_welcome {
  display: inline-block;
}
.button {
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: lemonchiffon;
  color: black;
  border: 2px solid #008CBA;
  white-space: nowrap;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 20px;
}
