
.welcome {
  background: url("/images/CoverCanvas.jpg") no-repeat fixed;
  background-size: cover;
}
.author {
  background: url("/images/AlpineLake.jpg") no-repeat fixed;
  background-size: cover;
}
.page_one {
  background: url("/images/Sunset.jpg") no-repeat fixed;
  background-size: cover;
}
.page_two {
  background: url("/images/MountainRiver.jpg") no-repeat fixed;
  background-size: cover;
}

.teaser_welcome, .teaser_author, .teaser_page_one, .teaser_page_two  {
  box-sizing: content-box;
  width: 600px;
  padding: 30px;
  background-color: lemonchiffon;
  border-radius: 20px;
  border: 2px solid #008CBA;
  margin-left: 20%;
  margin-top: 10%;
}

/* .button_welcome {
  display: inline-block;
} */
.btn-group {
  justify-content: space-around;
  /* margin-left: 15%;
  margin-right: 15%; */
  display: flex;
  flex-direction: row;
  flex: initial;
}
.button {
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: lemonchiffon;
  color: black;
  border: 2px solid #008CBA;
  white-space: nowrap;
  /* margin-left: 20%; */
  /* justify-content: flex-start; */
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . . . . . . ." ". . Copy Copy Copy Copy Copy Copy Copy Copy . ." ". . Copy Copy Copy Copy Copy Copy Copy Copy . ." ". . Copy Copy Copy Copy Copy Copy Copy Copy . ." ". . Copy Copy Copy Copy Copy Copy Copy Copy . ." ". . Copy Copy Copy Copy Copy Copy Copy Copy . ." ". . Copy Copy Copy Copy Copy Copy Copy Copy . ." ". . Copy Copy Copy Copy Copy Copy Copy Copy . ." ". . . . . . . . . . . ." ". Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons ." ". . . . . . . . . . . .";
}

.Copy { grid-area: Copy; }

.Buttons { grid-area: Buttons; }
