<html>
<body class="welcome">
<div class="teaser_welcome">

<h1>Welcome to <i>Ethan the Raindrop</i> the website!</h1>
<p>Ethan is a young raindrop living a very content life floating in a cloud with his brothers and sisters. But a trip over the big blue ocean brings a huge event that changes his life forever. Alerted by his brother that they are needed on the ground, young Ethan is afraid of what may be in store for him.</p>

<p>“What I will be? Where I will go?” asks Ethan.</p>

<p>His brother kindly replies, “Whether a drop of rain or a flake of snow, you’ll be what you’ll be, and when you know, you’ll know.”</p>

<p>Nervous and anxious, Ethan begins an incredible journey down into the vastness of the world. He discovers that even though he doesn’t always have complete control over what happens, he always ends up where he’s supposed to be.</p>

<p><strong>Author:</strong> <%= link_to "Sean Patrick Guidera", '/author' %></p>
<p><strong>Illustrator: </strong>Briahna Wenke</p>
</div>
<br>
<br>

  <div class="btn-group" role="group">
  <button class="button" id="story_button">
  <%= link_to "See the start of Ethan's journey!", '/story' %></button>
  <button class="button" name="button">
  <a href="https://www.amazon.com/Ethan-Raindrop-Sean-Patrick-Guidera/dp/1514112965">Buy the book on Amazon!</a>
  </button>
  <button class="button" name="button">
  <a href="http://www.spgwrites.com/">See more from the Author!</a>
  </button>
  </div>
</body>
</html>
