<html>
<body class="page_two">
<div class="grid-container">
<div class="Copy">
  <div class="teaser">

  <p>Somewhere over the big blue ocean,</p>
  <p>He felt a change had been set in motion.</p>
  <p>Suddenly his brother started to shout,</p>
  <p>Telling the cloud what the change was about.</p>
  <p>"Soon we will be starting our trip.</p>
  <p>Water for the ground starts with a drip!"</p>
  <br>
  <p>Ethan's brother was in a hurry,</p>
  <p>But leaving the cloud filled Ethan with worry.</p>
  <p>"I know you're scared, in your eyes I see it,</p>
  <p>But on the ground is where we're needed."</p>
  <p>First there were things Ethan wanted to know.</p>
  <p>He asked, "What will I be, where will I go?"</p>
  <br>
  <p>"Whether a drop of rain or a flake of snow,</p>
  <p>You'll be what you'll be and you'll know when you know.</p>
  <p>With help from Father Sun and Mother Moon,</p>
  <p>You'll get where you're going and you'll get there soon.</p>
  <p>Whether you're high in the mountains or out in the sea,</p>
  <p>When you look around, you'll see family!"</p>
  </div>
</div>
<br>
<br>
<div class="Buttons">
  <div class="btn-group" role="group">
    <button class="button" name="button">
    <%= link_to "Home", "/" %>
    </button>
    <button class="button" name="button">
    <%= link_to "Previous page", "/story" %>
    </button>
    <button class="button" name="button">
    <a href="https://www.amazon.com/Ethan-Raindrop-Sean-Patrick-Guidera/dp/1514112965">Buy the book on Amazon!</a>
    </button>
    <button class="button" name="button">
    <a href="http://www.spgwrites.com/">See more from the Author!</a>
    </button>
  </div>
</div>
</div>
</body>
</html>
