<html>
<body class="author">
<div class="grid-container">
<div class="Copy">
  <div class="teaser_author">
  <p>Sean Patrick Guidera graduated with a degree in interpersonal communications from the University of Delaware.</p>
  <p>He was born and raised in New Jersey and moved to Colorado after school where he started writing poetry, short stories, and children's books.</p>
  <p>After several years in Denver, Sean moved to South Carolina where his copywriting and marketing services expanded.</p>
  <p>He continues to write at his current home of Portsmouth, NH.</p>
  </div>
</div>
<br>
<br>
<div class="Buttons">
  <div class="btn-group" role="group">
    <button class="button" name="button">
    <%= link_to "Home", "/" %>
    </button>
    <button class="button" id="story_button">
    <%= link_to "See the start of Ethan's journey!", '/story' %></button>
    <button class="button" name="button">
    <a href="https://www.amazon.com/Ethan-Raindrop-Sean-Patrick-Guidera/dp/1514112965">Buy the book on Amazon!</a>
    </button>
    <button class="button" name="button">
    <a href="http://www.spgwrites.com/">See more from the Author!</a>
    </button>
  </div>
</div>
</div>
</body>
</html>
